<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "RailsTutorial2", static_pages_home_path %>
      <nav>
        <ul>
          <li><%= link_to "ユーザ登録", new_user_path %></li>
          <% if logged_in? %>
            <li><%= link_to "ユーザ一覧", users_path %></li>
            <li>
              Account
              <ul>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Log out", sessions_destroy_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", sessions_new_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
